* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-align: center;
    color: #852020;
    background: #66ff00;
}

.container {
    min-height: 800px;
    background: url('gradient-abstract-background_23-2149115478.avif') center/cover no-repeat;
}

.my_projects {
    display: block;
    left: 10px;
}

.my_projects a {
    color: #ff0062;
}

#mailme {
    color: rgb(167, 0, 153); /* Fixed typo from "laliceblue" */
}
